.logo-link {
  display: flex;
  align-items: center;
}

.logo-link img {
  height: 42px;  
  /* width: auto; */
  max-height: 60px;
  /* object-fit: cover; */
  z-index: 999;
}
@media (min-width: 768px) {
  .logo-link img {
    height: 52px;
  }
}

@media (max-width: 767px) {
  .logo-link img {
    height: 5rem;
  }
}