<header class="header" id="header"
  [style.--header-bg]="getBackgroundColor()"
  [style.--header-text]="getTextColor()">
  <div class="container">
    <div class="header-content">
      <div class="logo" *ngIf="showLogo">
        <a [routerLink]="['/']" class="logo-link">
          <img 
            *ngIf="logoUrl"
            [src]="logoUrl" 
            [alt]="companyName" 
            class="logo-img" />
          <span *ngIf="!logoUrl" class="logo-text">{{ companyName }}</span>
        </a>
      </div>

      <div class="header-actions">
        <nav class="nav" id="nav" [class.active]="isMobileMenuOpen" *ngIf="showMenu">
          <ul class="nav-list mb-0">
            <li *ngFor="let item of navigation">
              <a
                *ngIf="!isExternalLink(item.link)"
                [routerLink]="[getRouterLink(item.link)]"
                [fragment]="getFragment(item.link)"
                class="nav-link"
                (click)="closeMobileMenu()"
              >
                {{ item.label }}
              </a>
              <a
                *ngIf="isExternalLink(item.link)"
                [href]="item.link"
                class="nav-link"
                target="_blank"
                rel="noopener"
                (click)="closeMobileMenu()"
              >
                {{ item.label }}
              </a>
            </li>
          </ul>
        </nav>
        <a 
          *ngIf="getWhatsAppLink()"
          [href]="getWhatsAppLink()"
          class="btn btn-primary" 
          target="_blank"
          rel="noopener">
          <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
      </div>
      <button *ngIf="showMenu" class="mobile-menu-toggle" id="mobileMenuToggle" (click)="toggleMobileMenu()">
        <i class="fas" [class.fa-bars]="!isMobileMenuOpen" [class.fa-times]="isMobileMenuOpen"></i>
      </button>
    </div>
  </div>
</header>

